html{
	height: 100%;
	width: 100%;
}
.container{
	margin-top: 50px;
}
a{
	cursor: pointer;
}
canvas{
	z-index: -1;
}

.navbar-collapse{
	border: 0;
/*background-color: rgba(0,0,0,0.8);*/
/*opacity: 0.8;
filter: alpha(opacity=80); /* For IE8 and earlier */
}

.navbar-default{
background-color:transparent;
border:0;
z-index: 10;
}

.navbar-toggle{
	background-color: #ddd;
	margin-top: 3px;
}

.navbar-header{

	background:transparent;
	position: relative;
	padding-left: 10px;
}
.navbar-header>img{
	background: transparent;
	padding-right: 10px;
	padding-left: 20px;
	height:50px;
	top:-50px;
 	position: relative;
}
.circle{

    width: 2px;
    top: -23px;
    left: 66px;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.6);
    position: relative;
    height: 2px;
    background-color: transparent;
    border-radius: 50%;
}
.small{
	background-color: rgba(0,0,0,0.8);
	width: 15px;
	height: 50px;
	left: 0;
	position: relative;
}
.navbar-default .navbar-nav > li > a{

font-weight:bold;
color:rgba(255,255,255,0.8);
}

.navbar-nav{
	position:relative;
	/*margin-top: 4px;*/
	/*margin-left:40px;*/
}

.first{
	padding-left: 15px;
}

.last{
	padding-right:40.5px;
}
.navbar-nav>li{
	background-color: rgba(0,0,0,0.8);
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12px;
}
.navbar-default .navbar-nav > li > a:hover

 {

	color:rgba(255,255,255,.8);

}

.navbar #nav > .active > a {
    color:rgba(245,220,29,1);
    background-color: transparent;
}

.logo{
	left: 25%;
	top: 22.5%;
	width:50%;
	z-index: -1;
	position: absolute;
	/*-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
	transition: all 0.2s;*/
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a {
	padding: 10px 0;
	/*border-top: 2px solid #0972b4;*/
	/*color: #0972b4;*/
	text-shadow: none;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 5px;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	/*border-bottom: 2px solid rgba(207, 169, 6,0.8);*/
	color: rgba(245,220,29,1);
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	-o-transition: max-width 0.5s;
	-ms-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}
#load {
    //margin: 0 0 10px;
    color: white;
    font-size: 42.5px;
    position: relative;
    top: 70%;
    text-align: center;
 }
#cover1{
	position:absolute;
	height:100%;
	width:100%;
	top: 0;
	left:0;
	z-index:1002;
	visibility: visible;
	opacity: 1;
	background:url('../static/img/loading.gif') no-repeat center;
	background-color: rgb(28,28,28);
	background-size:cover;
	transition: opacity 1s, visibility 1s;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -ms-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
}
.footer{
	bottom:50px;
	z-index: -1;
}

.copy{
	text-shadow: 0.2px 0.2px black;
}
.facts{
    width: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    border-radius: 4px;
    padding-top:  8px;
    padding-left: 35px;
    /*left: 1px;*/
    box-shadow: 0 0 0 2px rgba(0,0,0,0.6);
    bottom: -5px;
    background-color: rgba(0,0,0,0.8);
    /* border: 2px rgba(0,0,0,0.6); */
    position: relative;
    -webkit-transition: -webkit-transform 2s ease-in;
    -moz-transition: -moz-transform 2s ease-in;
    -o-transition: -moz-transform 2s ease-in;
    -ms-transition: -moz-transform 2s ease-in;
    transition: transform 2s ease-in;
}
.leader{
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	height: 140px;
	bottom:0;
	position: absolute;
}
table#ld { 
  width: 100%; 
  border-collapse: collapse; 
  /*background: #34495e; */
  color: rgba(255,255,255,0.8);
  display: block;
}

table#modtab{
	margin-left: auto;
	margin-right: auto;
}
td>img{
	width: 20px;
	height: auto;
}
td, th { 
  padding: 8px; 
  text-align: left; 
}
/*tr:nth-of-type(odd) { 
  background: #16a085; 
}

th { 
  background: #2c3e50; 
  font-weight: bold; 
}*/
 .social{
 	float:right;
 	padding-left: 15px;
 	/*opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */*/
 }
 /*.social:hover{
  	-webkit-animation: thumb 1s;
  	-moz-animation: thumb 1s; 
	-o-animation: thumb 1s; 
	animation: thumb 1s; 
 }
 @keyframes thumb {
 	0% { transform: scale(1); }
	17% { transform: scale(1.1); }
	34% { transform: scale(0.9); }
	51% { transform: scale(1.05); }
	68% { transform: scale(0.95); }
	85% { transform: scale(1.025); }
	100% { transform: scale(1); }/*
}
*/

.hi-icon-wrap {
	text-align: center;
	margin-right: 35px;
	float: right;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	/*margin: 15px 30px;*/
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	/*color: #fff;*/
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	/*color: #fff;*/
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'Ionicons';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	position: relative;
    top: -27px;
    /*color: #fff;*/
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hi-icon1 {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	/*margin: 15px 30px;*/
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	/*color: #fff;*/
}

.hi-icon1:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	/*color: #fff;*/
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon1:before {
	font-family: 'Ionicons';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	position: relative;
    top: -27px;
    /*color: #fff;*/
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/*.hi-icon-effect-5 .hi-icon-trivia:hover{
	background: #f5dc1d;
	box-shadow: 0 0 0 8px rgba(245,220,29,0.5);
	color:rgba(255,255,255,1);	

}*/
.hi-icon-trivia{
	position: absolute;
	bottom: -7px;
}
.trivia{    
	overflow-x: hidden;
    width: 50%;
    /* height: 25px; */
    height: 50px;
    left: 35px;
     bottom: -45px; 
    position: relative;	
}

.hi-icon-trivia:before{
	content: "\f36c";
	font-size: 230%;
	top: -24px;
}
.hi-icon-fblike:before{
	content: "\f231";
	font-size: 200%;
}.hi-icon-contact:before{
	content: "\f2d2";
	font-size: 200%;
}
.hi-icon-twitter:before{
	content: "\f243";
	font-size: 200%;
}
.hi-icon-googleplus:before{
	content: "\f235";
	font-size: 200%;
}
.hi-icon-youtube:before {
	content: "\f24d";
	font-size: 200%;
}
.hi-icon-gallery:before{
	content: "\f147";
	font-size: 200%;
}
.hi-icon-map:before{
	content: "\f456";
	font-size: 200%;
}


/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
	box-shadow: 0 0 0 4px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	-webkit-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-moz-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-o-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-ms-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}
.hi-icon-effect-5 .hi-icon:after {
	display: none;
}
/* Effect 5 */
.hi-icon-effect-5 .hi-icon1 {
	box-shadow: 0 0 0 4px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	-webkit-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-moz-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-ms-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	-o-transition: background 0.5s, color 0.5s, box-shadow 0.5s;
	transition: background 0.5s, color 0.5s, box-shadow 0.5s;
}

.hi-icon-effect-5 .hi-icon1:after {
	display: none;
}
/*.hi-icon-fblike{
	background-color: rgba(0,0,0,0.8);
}
.hi-icon-contact{
	background-color: #4dc247;
}
.hi-icon-twitter{
	background-color: #4da7de;
}
.hi-icon-googleplus{
	background-color: #d93e2d;
}
.hi-icon-youtube{
	background-color: #e02a20;
}*/
.hi-icon-effect-5 .hi-icon-contact:hover {
	background: #4dc247;
	box-shadow: 0 0 0 8px rgba(77,194,71,0.5);	
	color: rgba(255,255,255,1);
}

.hi-icon-effect-5 .hi-icon-fblike:hover{
	background: #3e5b98;
	box-shadow: 0 0 0 8px rgba(62,91,152,0.5);
	color:rgba(255,255,255,1);	
}
.hi-icon-effect-5 .hi-icon-twitter:hover{
	background: #4da7de;
	box-shadow: 0 0 0 8px rgba(77,167,222,0.5);
	color:rgba(255,255,255,1);
}
.hi-icon-effect-5 .hi-icon-youtube:hover{
	background: #e02a20;
	box-shadow: 0 0 0 8px rgba(224,42,32,0.5);
	color:rgba(255,255,255,1);
}
.hi-icon-effect-5 .hi-icon-googleplus:hover{
	background: #d93e2d;
	box-shadow: 0 0 0 8px rgba(217,62,45,0.5);
	color:rgba(255,255,255,1);
}
.hi-icon-effect-5 .hi-icon-gallery:hover{
	background: rgb(142, 68, 173);
	box-shadow: 0 0 0 8px rgba(142, 68, 173,0.5);
	color:rgba(255,255,255,1);
}
.hi-icon-effect-5 .hi-icon-map:hover{
	background: rgb(34, 167, 240);
	box-shadow: 0 0 0 8px rgba(34, 167, 240,0.5);
	color:rgba(255,255,255,1);
}
/*
.hi-icon-effect-5 .hi-icon-mobile:hover {
	background: #702fa8;
	color: rgba(255,255,255,1);
	box-shadow: 0 0 0 8px rgba(255,255,255,0.5);
}*/

.hi-icon-effect-5a .hi-icon:hover:before {
	-webkit-animation: toRightFromLeft 0.5s forwards;
	-moz-animation: toRightFromLeft 0.5s forwards;
	animation: toRightFromLeft 0.5s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}	
#wrapper,#map_wrapper {
        position: absolute;
        right: 0;
  top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    padding: 5px;
    border-radius: 5px; 
    visibility: hidden;
    z-index: 100;
}

#map_canvas{
  margin:auto;
  position: relative;
  top: 6%;
    width: 60%;
    height: 80%;
}
#underconst{
  background: url('../static/img/underconst.gif') no-repeat center;
  margin:auto;
  position: relative;
  top: 15%;
    width: 40%;
    height: 60%;
}
#close,#close1{
  color: white;
  cursor: pointer;
    background: rgba(0,0,0,1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.5);
    position: relative;
    top: 7%;
    left: 80%;
    z-index: 101;
}
#close1{
  color: white;
  cursor: pointer;
    background: rgba(0,0,0,1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.5);
    position: relative;
    top: 16%;
    left: 70%;
    z-index: 101;

}
#close:before,#close1:before{
  content: "\f2d7";
  font-family: 'Ionicons';
  speak: none;
  font-size: 25px;
  position: relative;
  top: -3px;
  left: 8px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;

}
	
 @media (min-width: 1024px) and (max-width: 1199px){
 	.container{
 		width: 1000px;
 		margin-left: auto;
 		margin-right: auto;
 		padding: 0;

 	}
 	.navbar-header>img{
 		padding-left: 15px;
 		padding-right: 0px;
 		top:-50px;
 		position: relative;
 	}
 	.navbar-nav>li{
		padding: 0 2px;
	}
	.first{
		padding: 0;
	}
	.last{
		padding: 0;
	}
	.small{
		width: 15px;
		position: relative;
	}
	.circle{
		top: -24px;
		left: 60px;
	}
	.hi-icon-trivia{
		position: absolute;
		bottom: -7px;
	}

 }

 @media (min-width: 768px) and (max-width: 1023px){
 	.container{
 		width: 830px;
 		margin-left: auto;
 		margin-right: auto;
 		padding: 0;

 	}
 	#nav{
 		margin-left: -5px;
 		height: 40px;
 	}
 	.navbar-nav{
 		padding:0;
 	}
 	.navbar-nav>li{
		padding: 2px;
		height: 40px;
		font-size: 10px;
	}
	.navbar-nav>li>a{
		height: 40px;
		padding-left: 14px;
		padding-top: 10px;
	}
	.first{
		padding: 0;
	}
	.last{
		padding: 0;
	}
	.small{
		height: 40px;
		width: 10px;
		position: relative;
	}
	.navbar-header>img{
 		padding-left: 10px;
 		padding-right: 10px;
 		height: 40px;
 		top:-40px;
 		width: 200px;
 		position: relative;
 	}
 	.circle{
 		top: -20px;
 		left: 40px;
 	}
 	.cl-effect-11 a::before {
		padding: 5px 0;
		top: 5px;
	}
	.hi-icon-wrap{
		margin-right: 30px;
	}
	.logo{
		top:50%;
		margin-top:-118px;
	}
	.facts{
    height: 35px;
    padding-top:  7px;
    padding-left: 30px;
	}
	.trivia{    
    height: 45px;
    bottom:-42px;
    }
    .hi-icon-trivia{
    	bottom: -4px;
    }
    .hi-icon-trivia:before{
	top: -26px;
	}
	.hi-icon1 {
	width: 40px;
	height: 40px;
	}
 }

 @media (max-width: 767px){
 	body{
 		background-size: 100% 0;
 	}
 	.social{
 		clear: right;
 		margin-top: 15px;
 	}
 	.copy{
 		position: absolute;
 		bottom: 0px;
 	}
 	#navbar-collapse{
 		width: 291px;
 		/*margin-left: -5px;*/
 	}
 	#nav{
 		margin-left: -5px;
 	}
 	.small{
 		left:5px;
 		height: 40px;
 		position: absolute;
 	}
 	.navbar-collapse{
 		padding-left: 7px;
 	}
 	.logo{
 		width: 360px;
 		top:50%;
 		left:50%;
 		margin-left: -180px;
 		margin-top: -112px;
 		/*-webkit-transition:all 0.5s;
 		-moz-transition:all 0.5s;
 		-o-transition:all 0.5s;
 		-ms-transition:all 0.5s;
 		transition:all 0.5s;*/
 	}
 	.navbar-header>img{
 		top:0;
 		height: 40px;
 		padding-right: 0;
 	}
 	.cl-effect-11 a::before {
		padding: 5px 0;
		top: 5px;
	}
	.footer{
		z-index: -1;
	}
	.hi-icon-wrap{
		margin: 0;
	}
	.circle{
		top: 20px;
		left: 56px;
	}

.navbar-nav {
    margin: 12.5px -15px;
}
	.hi-icon-trivia{
		position: absolute;
		bottom: 0;
		left: 10px;
	}
 
 .trivia{
 	    left: 30px;
    bottom: -2px;
    position: absolute;
    height: 45px;
 }
 .facts{
    height: 35px;
    padding-top:  7px;
    padding-left: 30px;
	}
    .hi-icon-trivia:before{
	top: -26px;
	}
	.hi-icon1 {
	width: 40px;
	height: 40px;
	}
	#map_canvas{
    top:0;
    width: 90%;
    height: 90%;
}
#underconst{
    width: 85%;
    height: 60%;
}
#close{
    top: 2%;
    left: 90%;
}
#close1{
  top:16%;
  left: 90%;
}
}
 @media (max-width: 360px){
 	.copy{
 		bottom:-25px;
 	}
 	.small{
 		height: 40px;
 	}
 	.navbar-header>img{
 		height: 40px;
 		padding-left: 14px;
 		top:0;
 	}
 	.logo{
 		width: 300px;
 		margin-left: -150px;
 	}
	.circle{
		top: 20px;
		left: 51px;
	}
	.trivia{
		bottom:-23px;
		width: 80%;
	}
	.hi-icon-trivia{
		bottom:-20px;
		position: absolute;
	}
	.hi-icon-wrap {
    	position: relative;
    	bottom: 30px;
	}
 }

 @media (max-width:310px){
 	.navbar-header>img{
 		/*width: 220px;*/
 		clip: rect(0px,87px,40px,0px);
    	position: absolute;
	}
 
 	.logo{
 		width: 250px;
 		margin-left: -125px;
 	}
 }
 .social>a{
 	color:rgba(255,255,255,1);
 	font-size: 12px;
 	padding-left: 5px;
 	padding-right: 5px;
 	text-decoration: none;
 }

 .social>a:hover{
 	text-decoration: none;
 }

