.container{
	margin-top: 50px;
}

.navbar-collapse{
/*background-color: rgba(0,0,0,0.8);*/
/*opacity: 0.8;
filter: alpha(opacity=80); /* For IE8 and earlier */
*/
}

.navbar-default{
background-color:transparent;
border:0;
}

.navbar-toggle{
	background-color: #ddd;
}

.navbar-header{

	background:transparent;
	position: relative;
	padding-left: 10px;
}
.navbar-header>img{
	background: transparent;
	padding-right: 10px;
	padding-left: 10px;
	height:50px;
}
.small{
	background-color: rgba(0,0,0,0.8);
	width: 15px;
	height: 50px;
	position: absolute;
}
.navbar-default .navbar-nav > li > a{

font-weight:bold;
color:rgba(255,255,255,0.8);
}

.navbar-nav{
	position:relative;
	/*margin-top: 4px;*/
	/*margin-left:40px;*/
}

.navbar-nav>li{
	background-color: rgba(0,0,0,0.8);
	padding-left: 10px;
	padding-right: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 13px;
/*	font-family: 'south_afirkas_2100regular';*/
}
.navbar-default .navbar-nav > li > a:hover

 {

	color:rgba(207, 169, 6,0.8);

}

.navbar #nav > .active > a {
    color:rgba(207, 169, 6,0.8);
    background-color: transparent;
}

.logo{
	left: 50%;
	top: 55%;
	margin-top: -198px;
	margin-left: -320px;
	z-index: -1;
	position: absolute;
}
/*@font-face {
    font-family: 'south_afirkas_2100regular';
    src: url('saf-webfont.eot');
    src: url('saf-webfont.eot?#iefix') format('embedded-opentype'),
         url('saf-webfont.woff2') format('woff2'),
         url('saf-webfont.woff') format('woff'),
         url('saf-webfont.ttf') format('truetype'),
         url('saf-webfont.svg#south_afirkas_2100regular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

.footer{
	bottom:50px;
}

.copy{
	text-shadow: 0.2px 0.2px black;
}
 .social{
 	float:right;
 	background: rgba(0,0,0,0.8);
 	text-shadow: 0.2px 0.2px white;
 	/*opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */*/
 }

 @media (max-width: 767px){
 	.social{
 		clear: right;
 		margin-top: 5px;
 	}
 	li.fb,li.fbs,li.t,li.g{
 		margin-right: 0;
 		width: 76px;
 	}
 	li.fbs{
 		text-align: center;
 	}
 	.copy{
 		position: absolute;
 		bottom: 0px;
 	}
 	#navbar-collapse{
 		width: 291px;
 		/*margin-left: -5px;*/
 	}
 	#nav{
 		margin-left: -5px;
 	}
 	.small{
 		left:2px;
 	}
 	.navbar-collapse{
 		padding-left: 7px;
 	}
 	.logo{
 		width: 360px;
 		top:50%;
 		margin-left: -180px;
 		margin-top: -112px;
 	}
 }

 @media (max-width: 360px){
 	.copy{
 		bottom:-25px;
 	}
 }
 .fbs{
 	padding-top: 4px;
 	padding-bottom: 4px;
 	margin-left: 2px;
 	margin-right: 12px;
 }

 .g{
 	padding-top: 2.5px;
 	padding-bottom: 2.5px;
 }

.t{
	padding-top: 2.5px;
 	padding-bottom: 2.5px;
	margin-right: 5px;
}
 .fb{
 	padding-top: 2.5px;
 	padding-bottom: 2.5px;
 }
 li.fb,li.t,li.g{
 	width: 76px;
 }
 li.fb:hover,li.fbs:hover{
 	background: rgba(59, 89, 152,0.8);
 }
 li.t:hover{
 	background: rgba( 64,153,255,0.8);
 }
 li.g:hover{
 	background: rgba(211, 72, 54,0.8);
 }
 .social>a{
 	color:rgba(255,255,255,0.8);
 	font-size: 12px;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 li .fb:hover{
 	background: rgba(0,0,255,0.8);
 }
 .social>a:hover{
 	text-decoration: none;
 }

 img .social{
 	opacity:0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */;
 }
